@import '../_styles/lib.scss';

.weather {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  padding: 2rem;
  padding-top: 3rem;
  background-color: $color-primary-yellow;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: $font-big;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration-line: underline;
}

.loader {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }
  }

  
@media only screen and (max-width: $screen-small) {
  .weather {
    width: 100%;
  }
}