$color-white: #fff;
$color-black: #323232;

$color-primary-green: #00a98f;
$color-primary-yellow: #c4dff6;

$color-primary-gray-dark: #58595b;
$color-primary-gray: #9b9b9b;

$color-primary-gray-light: #f8f7f7;

$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 1023px;

$font-huge: 5rem;
$font-big: 2.5rem;
$font-large: 1.8rem;
$font-normal: 1.6rem;
$font-small: 1.3rem;

$header-height: 5rem;
